.train__link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  transition: opacity 0.3s ease;
}

.train__link:hover {
  opacity: 0.75;
}

@media screen and (max-width: 424px) {
  .train__link {
    font-size: 14px;
    line-height: 20px;
  }
}
