.quote {
  padding: 60px 18px 40px;
}

@media screen and (min-width: 768px) {
  .quote {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .quote {
    max-width: 1200px;
    grid-template-columns: 650px 1fr;
    margin: 0 auto;
    padding: 120px 0 60px;
    gap: 80px;
  }
}