.slider__img {
  max-width: 100%;
}

.slider__img:not(:last-child) {
  margin-right: 40px;
}

@media screen and (min-width: 576px) {
  .slider__img {
    max-width: 50%;
  }
}

@media screen and (min-width: 1280px) {
  .slider__img {
    min-width: 650px;
    height: 400px;
    object-fit: cover;
  }
}