.roads {
  padding: 40px 18px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  position: relative;
}

@media screen and (min-width: 576px) {
  .roads {
    padding-right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .roads {
    padding-left: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .roads {
    padding: 60px 0 160px 120px;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}