.bikes__heading {
  display: flex;
  justify-content: space-between;
  margin: 0 0 120px 0;
}

@media screen and (max-width: 1023px) {
  .bikes__heading {
    flex-direction: column;
    margin: 0 0 20px 0;
  }
}
